.productCard {
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 22px;
}
.product-detail {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.product-detail img {
    width: 300px;
    height: 250px;
}
.btns {
    display: flex;
    justify-content: space-around;
}
.btns button {
    background-color: black;
    color: white;
    padding: 6px;
    /* padding: 13px; */
    border-radius: 10px;
}
.carts {
    position: relative;
} 
span.carttcount {
    position: absolute;
    top: -12px;
    left: 39px;
}